

html {
  min-height: 100%;
}

body {

    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/**** NAV BAR ****/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a:active {
  background-color: #4caf50;
  color: white;
}


/***** MAIN *****/

.main {
  margin-top: 50px;
  margin-bottom: 80px;
}



/***** FOOTER *****/

.footer {
    flex: 1 0 auto;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.footer p {
  text-align: center;
}





/***** JS CARD *****/

.card {
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid black;
  height: 400px;
  margin: 5px;
  width: 25%;
}

.description {
  padding: 3px;
}

.image {
  display: block;
  margin: auto;
}

.product-name {
  background: rgba(255, 255, 255, 0.33);
  border-bottom: 2px solid black;
  text-align: center;
}

.product-name > h3 {
  margin: 0;
  padding: 15px;
}
